// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

/* Si solo deseas aplicar el width a imágenes con una clase específica */
.bg-custom-1 {
    background-color: rgb(0, 88, 4);
}

.bg-custom-2 {
    background-color: rgb(13, 5, 20);
}

.fo-custom-1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #7616d4;
}

.txtcolor-custom-1 {
    color: #7616d4;
}
